@model IEnumerable<InForno.Models.Prodotto>

@{
    ViewBag.Title = "Prodotti";
}

<div class="container">
    <h2 class="mt-5">Prodotti</h2>
    <div class="mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Prezzo</th>
                    <th scope="col">Azioni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prodotto in Model)
                {
                    <tr>
                        <td><img src="@prodotto.Foto" alt="Foto Prodotto" class="rounded-4 " style="max-width: 120px;"></td>
                        <td>@prodotto.Nome</td>
                        <td>@prodotto.Descrizione</td>
                        <td>€@prodotto.Prezzo</td>
                        <td>
                            <a href="@Url.Action("Edit", "Prodotto", new { id = prodotto.ID })" class="btn btn-primary">Modifica</a>
                            <a href="@Url.Action("Delete", "Prodotto", new { id = prodotto.ID })" class="btn btn-danger">Elimina</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <a href="@Url.Action("Create", "Prodotto")" class="btn btn-success">Aggiungi Prodotto</a>
        </p>
    </div>
</div>
