@model IEnumerable<InForno.Models.Prodotto>

@{
    ViewBag.Title = "Prodotti";
}

<div class="container">
    <h2 class="mt-5">Prodotti</h2>
    <div class="mt-4">
        <div class="row">
            @foreach (var prodotto in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@prodotto.Foto" class="card-img-top" alt="Foto Prodotto">
                        <div class="card-body">
                            <h5 class="card-title">@prodotto.Nome</h5>
                            <p class="card-text">@prodotto.Descrizione</p>
                            <p class="card-text">Prezzo: €@prodotto.Prezzo</p>
                            <div class="text-center">
                                @if (!User.IsInRole("Admin"))
                                {
                                    <a href="#" class="btn btn-success">Ordina</a>
                                }
                                else
                                {
                                    <div class="btn-group" role="group" aria-label="Azioni">
                                        <a href="@Url.Action("Edit", "Prodotto", new { id = prodotto.ID })" class="btn btn-primary">Modifica</a>
                                        <a href="@Url.Action("Delete", "Prodotto", new { id = prodotto.ID })" class="btn btn-danger">Elimina</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (User.IsInRole("Admin"))
        {
            <p>
                <a href="@Url.Action("Create", "Prodotto")" class="btn btn-success">Aggiungi Prodotto</a>
            </p>
        }
    </div>
</div>
